@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #ff771c;
  --ion-color-primary-rgb: 255, 117, 26;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c54f00;
  --ion-color-primary-tint: #f59556;

  --ion-color-secondary: #ffa514;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d48c16;
  --ion-color-secondary-tint: #ffc364;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #e0b500;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c7a100;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --custom-color-complex-survey: #a77d11;
  --custom-color-complex-survey-shade: #6d520c;
  --custom-color-complex-survey-tint: #b98b14;

  --ion-page-background: #f5f7f5;

  --theme-border-radius: 10px;

  --primary-alert-role-color: #0b7c0b;
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

div.rounded {
  border-radius: 10px;
}

ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 15px;
}

ion-textarea {
  background: #fff !important;
  padding: 0 10px;
}

.slider-input-attr {
  margin-bottom: 15px;
}

.location-name-attr {
  --background: var(--ion-color-primary);

  .location-name-attr-input-container ion-input {
    min-width: calc(100% - 58.8px);
    text-overflow: ellipsis;
    color: var(--ion-color-primary-contrast);
    font-size: 1.3em;
    background: var(--ion-color-primary);
  }
}

.location-name-attr-icon-container {
  ion-icon {
    color: var(--ion-color-primary-contrast);
  }
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

// FONTS START
@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand Bold';
  src: url('./fonts/Quicksand-Bold.ttf');
}

ion-title {
  font-family: 'Quicksand Bold' !important;
}

h1 {
  color: var(--ion-color-primary);
  font-family: 'Quicksand Bold' !important;
}

ion-item-divider,
ion-badge,
ion-label.bold,
b {
  font-family: 'Quicksand Bold' !important;
}

.apps-section .apps-section-h,
h2,
h3,
h4,
h5,
p,
div,
input,
ion-button,
button,
span,
ion-back-button,
ion-item-option,
ion-note,
ion-label,
ion-chip,
ion-item {
  font-family: 'Quicksand' !important;
}
// FONTS END

.apps-section .apps-section-h,
h1,
h2,
h3 {
  color: var(--ion-color-primary);
}

// info messages
.attr-page .info-message,
.info-message.blue {
  --background: rgba(var(--ion-color-secondary-rgb), 0.1);
  background: white; // above is transparent
  border: 1px solid #dcedff;
  border-radius: var(--theme-border-radius);

  ion-note {
    color: var(--ion-color-secondary-dark);
    font-size: 1em;
  }

  ion-icon {
    color: var(--ion-color-secondary-dark) !important;
  }

  ion-button {
    color: var(--ion-color-secondary-dark) !important;
    --border-color: var(--ion-color-secondary-dark) !important;
  }
}

ion-list .info-message {
  --background: #fafafa;
}

// accessibility improvements
ion-button:not(.button-has-icon-only),
ion-item {
  font-size: 1em;
  &.md {
    font-size: 0.9em;
  }
}

#img-array .empty {
  font-size: 0.9em !important;
}

ion-item-divider {
  font-size: 0.9em;
  color: var(--ion-text-color);
  padding: 0 5px 7px 5px;
}

.attr-page ion-item-divider ion-label {
  font-family: 'Quicksand Bold' !important;
  margin-top: 10px;
  margin-left: 10px;
}

.collapse-block ion-label.ion-text-wrap {
  font-size: 0.9em;
}

.radio-input-attr ion-item ion-label {
  font-size: 0.9em !important;
}

.menu-attr-item,
.attr-wrapper {
  ion-icon[slot='start'] {
    --ionicon-stroke-width: 24px;
  }
  ion-label[slot='end'] {
    opacity: 0.8 !important;
    font-size: 0.9em;
  }
}

.date-input-attr ion-label[slot='end'] {
  font-size: 1em;

  &.ios {
    font-size: 0.9em;
  }
}

.counter-input-attr-item ion-button,
.counter-input-attr-item input {
  opacity: 0.8 !important;
}

.menu-attr-item.required.empty > ion-icon:first-of-type {
  color: black;
}

ion-radio-group .item-radio-checked:not(.radio-input-default-option) {
  border: 1px #dce0d5 solid;
  border-radius: 10px;
}

ion-button[type='submit'],
ion-button[expand='block'] {
  max-height: 40px;
}

.alert-wrapper .alert-button-group button.primary {
  color: var(--primary-alert-role-color);
}
