@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #ff771c;
  --ion-color-primary-rgb: 255, 117, 26;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c54f00;
  --ion-color-primary-tint: #f59556;

  --ion-color-secondary: #ffa514;
  --ion-color-secondary-rgb: 0, 142, 236;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d48c16;
  --ion-color-secondary-tint: #ffc364;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #00bd1a;
  --ion-color-success-rgb: 0, 189, 26;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00a617;
  --ion-color-success-tint: #1ac431;

  --ion-color-warning: #e0b500;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c7a100;
  --ion-color-warning-tint: #ffd31a;

  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --custom-color-complex-survey: #a77d11;
  --custom-color-complex-survey-shade: #6d520c;
  --custom-color-complex-survey-tint: #b98b14;

  --ion-page-background: #f5f7f5;
}

// status bar
html.ios.plt-hybrid #status-bar-background {
  background: transparent;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

div.rounded {
  border-radius: 10px;
}

ion-textarea {
  margin: 10px auto !important;
  max-width: 95%;
  border-radius: 15px;
}

ion-textarea {
  background: #fff !important;
  padding: 0 10px;
}

.slider-input-attr {
  margin-bottom: 15px;
}

.location-name-attr {
  --background: var(--ion-color-primary);

  .location-name-attr-input-container ion-input {
    min-width: calc(100% - 58.8px);
    text-overflow: ellipsis;
    color: var(--ion-color-primary-contrast);
    font-size: 1.3em;
    background: var(--ion-color-primary);
  }
}

.location-name-attr-icon-container {
  ion-icon {
    color: var(--ion-color-primary-contrast);
  }
}
